/*******
* Base *
*******/

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  background-color: #031634;
  color: #FFF;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100%;
  padding-bottom: 60px;
  position: relative;
}

.main-content {
  background-color: white;
  color: #222;
  margin: 0 auto;
  max-width: 1000px;
  padding: 30px;
}

/*******
* Form *
*******/

form {
  width: 100%;
}

input {
  border: 0;
  border: none;
  margin: 0;
  padding: 0;
  padding: 10px;
}

textarea {
  display: block;
  font-size: .9em;
  height: 300px;
  padding: 10px;
  resize: vertical;
}

input,
textarea {
  border: 1px solid #CCCCCC;
}

input:focus,
textarea:focus {
  border: 1px solid #92D9E5;
  outline: 0;
}

label {
  font-weight: bold;
}

button {
  border-radius: 3px;
  border: 0;
  display: block;
  font-weight: bold;
  margin: 0 auto;
  padding: 15px;
  text-transform: uppercase;
  width: 75%;
}

button:hover {
  opacity: .8;
}

button:focus {
  outline:0;
}

button.valid {
  background-color: #44AA55;
  color: #FFF;
}

.inline-form-group {
  display: table;
  margin-bottom: 20px;
  width: 100%;
}

.inline-form-group .form-field-description,
.inline-form-group input,textarea {
  display: table-cell;
}

.inline-form-group textarea {
  width: 100%;
}

.inline-form-group input {
  width: 50%;
}

.inline-form-group .form-field-description {
  padding-right: 10px;
  vertical-align: top;
  width: 25%;
}

.form-help-text {
  color: #999;
  font-size: .9em;
  margin-top: 0;
}

/*************
* Navigation *
*************/

nav {
  height: 74px;
  line-height: 64px;
  margin-bottom: 20px;
  padding-top: 10px;
  width: 100%;
}

.nav-items {
  float: left;
}

.nav-item {
  -webkit-user-select: none;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-left: 30px;
  user-select: none;
  vertical-align: middle;
}

.nav-item:hover {
  text-decoration: underline;
}

.nav-logo {
  background-image: url(../images/icon128.png);
  background-repeat: no-repeat;
  background-size: 64px 64px;
  display: block;
  height: 64px;
  margin: 0 auto;
  width: 64px;
}

/*********
* Footer *
*********/

footer {
  bottom: 0;
  font-size: .9em;
  height: 40px;
  left: 0;
  line-height: 40px;
  opacity: .7;
  position: absolute;
  text-align: center;
  width: 100%;
}

footer a {
  font-weight: bold;
}

/*********
* Frames *
*********/

.frames {
  margin-top: -10px;
  overflow: auto;
}

.frame {
  float: left;
  margin: 10px 0 0 10px;
  overflow: hidden;
  text-align: center;
}

.frame iframe {
  background-color: #FFFFFF;
  height: 786px;
  transform-origin: 0 0;
  width: 1280px;
}

.frame-iframe-wrapper {
  border: 1px solid #767676;
  margin-bottom: 10px;
  overflow: hidden;
  width: 100%;
}

.frame-title-container {
  display: block;
  height: 50px;
  overflow: hidden;
}

.frame-title-container a:hover {
  text-decoration: underline;
}

/***************
* Notification *
***************/

.notification {
  border-radius: 5px;
  display: none;
  font-size: .9em;
  font-weight: bold;
  left: 50%;
  padding: 20px;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 400px;
}

.notification.success {
  background-color: #92D953;
}
