extends ./base.jade

block title
  title Overseer - Options

block body-js
  script(src="../js/options.js")

block extra-nav
  a(class="nav-item js-nav-frames"): | Go back to frames

block content
  .notification.success.js-save-success-message: | Options saved sucessfully!

  .main-content
    form(class="options-form js-options-form")
      .inline-form-group
        .form-field-description
          label Frames
          p.form-help-text: | List of frames (url with protocol) separated by newlines.
        textarea(name="frames")

      .inline-form-group
        .form-field-description
          label Columns
          p.form-help-text: | Number of frames displayed on each line.
        input(name="columns" type="number")

      .inline-form-group
        .form-field-description
          label Resolution X
          p.form-help-text: | Horizontal resolution of the frames.
        input(name="resolutionX" type="number")

      .inline-form-group
        .form-field-description
          label Resolution Y
          p.form-help-text: | Vertical resolution of the frames.
        input(name="resolutionY" type="number")

      button(class="valid js-options-form-submit" type="button"): | Save
