doctype html
html(lang="en")
  head
    block title
      title Overseer
      
    link(href="../css/normalize.css" type="text/css" rel="stylesheet")
    link(href="../css/style.css" type="text/css" rel="stylesheet")
    
  body
    block nav
      nav
        a(href="html/frames.html" class="nav-item nav-logo")
        
    block content
